#Directorio node_modules
node_modules/

#Archivos JSON. Con terminación .json
*.json

#Directorio Evento-Proyecto
Evento-Proyecto/

#Directorio PersonalAcademico-Proyecto
PersonalAcademico-Proyecto/

#Directorio ProyectoDelEquipo
ProyectoDelEquipo/
