*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/*============BASE============*/

/*============NAVBAR============*/


/*============Container-information============*/


/*============MAPA============*/
/*
main .mapa{
    position: fixed;
    height: 50%;width: 100%;
    z-index: 8;
}
main .mapa #map{
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color:#676767;
}

/*============INFORMATION============*/
/*
main .information {
    position: absolute;
    height: 50%;width: 100%;
    
    bottom: 0; /*porque absolute y 7%(navbar) entre dos, si fuese fixed: 50%
}
main .information .asunto {
    display: block;
    height: 30%;width: 100%;
    background-color: #f5990f;
    text-align: center;
}
main .information .asunto p {
    color:white;
}
*/

/*============SECTIONS============*/
/*
.sections{
    background-color: #AE8240;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250vh;
}

.subTitle {
    text-align: center;
}
*/

/*====================================*/
/*
@media screen and (min-width: 480px){
    
}
@media only screen and (min-width: 768px) {
    /*
    .container-nav .icon-bar-button{
        display: none;
    }
    .container-nav .dropdown-menu{
        top: 100%;left:0;
        width: 15%;
    }
    .container-information{
        background-color: aqua;
    }
    */
}
